body {
  background-image: url(https://wallpapers.com/images/hd/pokemon-evolution-8b1ylsvrgjozt6aa.webp);  
   
    color: #e216a5;
    margin: 100px;
    margin: 0,5;
    height: 100vh;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    background-size: cover;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding:0;
}

.container {
  background-color: rgba(20, 20, 30, 0.95);
  max-width: 400px;
  margin: 150px auto;
  padding: 130px;
  border-radius: 500px;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.2);
  text-align: center;
}

h1 {
  background: linear-gradient(145deg, #ff4444, #ffcc00);
  transform: translateY(-3px);
  box-shadow: 0 1px #222;
  font-family: 'Comic Sans MS', cursive;
  margin-bottom: 20px;
  border-radius: 500px;
}


label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #ddddddf3;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 2px solid #444;
  border-radius: 8px;
  background-color: #222;
  color: #fff;
}
button {
      background: linear-gradient(145deg, #ff4444, #ffcc00);
      transform: translateY(-3px);
      box-shadow: 0 6px #222;
    }

    button {
      transform: translateY(2px);
      box-shadow: 0 2px #222;
    }

button:hover {
  background-color: #e055b0;
}

.cadastro {
  margin-top: 15px;
  font-size: 0.9em;
  color: #aaa;
}

.cadastro a {
  color: #d30d84;
  text-decoration: none;
}
